<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Part 03</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="container">
        <h2>Tareas</h2>

        <ul class="list-group tasks">
            <!-- Con @remove recibimos escuchamos el evento, y como parámetro le especificamos el método que se va a ajecutar cada que se emita el evento -->
            <li is="app-task" v-for="(task, index) in tasks" :task="task" :index="index" @remove="deleteTask"></li>
        </ul>

        <form class="new-task-form" @submit.prevent="createTask">
            <input type="text" class="form-control" v-model="newTask">
            <button class="btn btn-primary">Crear tarea</button>
        </form>
    </div>

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <!-- Con el tag <script type="text/x-template"> podemos definir un template si se vuelve más complejo -->
    <script type="text/x-template" id="task-template">
        <li class="list-group-item" :class="{editing: editing, completed: !task.pending}">
            <a href="#" @click="toggleStatus">
                <app-icon :img="task.pending ? 'unchecked' : 'check'"></app-icon>
            </a>

            <template v-if="!editing">
                <span class="description">{{ task.description }}</span>
                <div>
                    <a href="#" @click="edit">
                        <!-- Así llamamos a nuestro componente -->
                        <app-icon img="edit"></app-icon>
                    </a>
                    <a href="#" @click="remove">
                        <!-- img es el parámetro que definimos en nuestro componente -->
                        <app-icon img="trash"></app-icon>
                    </a>
                </div>
            </template>
            <template v-else>
                <input type="text" v-model="draft">
                <div>
                    <a href="#" @click="update">
                        <app-icon img="ok"></app-icon>
                    </a>
                    <a href="#" @click="discard">
                        <app-icon img="remove"></app-icon>
                    </a>
                </div>
            </template>
        </li>
    </script>
    <script src="app.js"></script>
</body>

</html>