<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 02</title>
</head>

<body>
    <div id="app">
        <!-- Imprime el valor solamente una vez, si se cambia después, el valor no cambia -->
        <h1 v-once>{{ project }}</h1>

        <!-- Interpolación de variables. Las variables deben definirse dentro del objeto data -->
        <p>Bienvenido {{ name }}</p>

        <!-- Se pueden utilizar funciones o métodos de Javascript dentro de las interpolaciones -->
        <p>Bienvenido {{ name.toUpperCase() }}</p>

        <!-- Dentro de computed podemos definir propiedades dinámicas a las que podemos acceder dentro de todo el ambiente de Vue -->
        <p>Bienvenido {{ reversedName }}</p>

        <!-- Otra forma de imprimir un valor en un elemento HTML es con la directiva v-text  -->
        <p v-text="name"></p>

        <!-- Si queremos imprimir HTML dentro de un elemento, podemos usar la directiva v-home -->
        <p v-html="homeLink"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: 'Vicente',
                project: 'Vue JS Course',
                homeLink: '<a href="#">Home</a>'
            },
            computed: {
                reversedName: function() {
                    return this.name.split('').reverse().join('');
                }
            }
        });
    </script>
</body>

</html>