<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 02</title>

    <style>
        .bold {
            font-weight: bold;
        }
        
        .blue {
            color: blue;
        }
        
        .has-error {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <form action="">
            <div>
                <h2>¿Has trabajado con Vue JS?</h2>
                <br>

                <!-- La directiva v-bind permite vincular un atributo (en este caso value) a una propiedad de nuestro modelo o expesión Javascript (en este caso el valor true) -->
                <input type="radio" v-model="vue.exp" v-bind:value="true"> Si

                <!-- La directiva v-bind se puede abreviar como :, es decir v-bind:value es igual a :value -->
                <input type="radio" v-model="vue.exp" :value="false"> No
            </div>

            <!-- La directiva v-show muestra u oculta un elemento HTML aplicando un display:none o lo contrario -->
            <div v-show="vue.exp">
                <div>
                    <label>¿Cuántos años de experiencia tienes con Vue?</label>
                    <br>
                    <!-- La directiva v-model nos permite crear un enlace entre una variable de nuestro modelo y el campo de un formulario -->
                    <input type="number" v-model="vue.years">
                </div>

                <!-- La directiva v-if, v-if-else, v-else sirven aplicar condiciones a elementos pero esto remueve los elementos competamente del dom -->
                <div v-if="vue.years < 2">
                    <!-- Podemos usar v-bind:class para agregar clases dinámicamente según condiciones de Javascript -->
                    <label class="blue bold" :class="{'has-error': descriptionError != '' }">¿Qué te motivó a aprender Vue?</label>
                    <br>
                    <textarea cols="30" rows="10" v-model="vue.description"></textarea>
                    <p v-if="descriptionError != ''">{{ descriptionError }}</p>
                </div>

                <div v-else>
                    <!-- Al igual que con class, podemos usar v-bind:style para agregar estilos -->
                    <label :style="{color: 'blue'}">Cuentános tu experiencia con Vue</label>
                    <br>
                    <textarea cols="30" rows="10" v-model="vue.description"></textarea>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                vue: {
                    exp: null,
                    years: 0,
                    description: ''
                }
            },
            computed: {
                descriptionError: function() {
                    let value = this.vue.description.trim();

                    if (value === '') {
                        return 'El campo el obligatorio';
                    }

                    if (value.length < 5) {
                        return 'La descripción debe ser mayor a 5 caracteres';
                    }

                    if (value.length > 20) {
                        return 'La descripción debe ser menos a 20 caracteres';
                    }

                    return '';
                }
            }
        });
    </script>
</body>

</html>