<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 02</title>
</head>

<body>
    <div id="app">
        <!-- La directiva v-for permite iterar un conjunto de objetos -->
        <ul>
            <li v-for="task in tasks">{{ task }}</li>
        </ul>

        <!-- Podemos imprimir el valor y el index poniendolos en un paréntesis -->
        <ul>
            <li v-for="(task, index) in tasks">{{ index + 1 }}.- {{ task }}</li>
        </ul>

        <!-- Si queremos imprimir un conjunto de elementos, podemos usar la etiqueta <template> que nos permite agregar un grupo de elemtos
            pero al ser renderizada, esta etiqueta no aparece en el sitio web -->
        <template v-for="(task, index) in tasks">
            <p>{{ index + 1 }}.- {{ task }}</p>
            <hr>
        </template>

        <!-- Podemos usar el elemento template con la directiva v-if y v-else -->
        <ul>
            <li v-for="(book, index) in books">
                <del v-if="book.readIt">{{ book.name }}</del>
                <template v-else>{{ book.name }}</template>
            </li>
        </ul>

        <!-- Podemos usar juntas las directivas v-for y v-if, la primera siempre tiene prioridad ante la segunda -->
        <ul>
            <li v-for="(book, index) in books" v-if="book.readIt">
                {{ book.name }}
            </li>
        </ul>

        <!-- La directiva v-for también permite iterar objetos, y esta es la forma de obtener el valor, la llave y el indice -->
        <ul>
            <li v-for="(value, key, index) in info">
                {{ index }}.- {{ key }}: {{ value }}
            </li>
        </ul>

        <!-- Podemos usar el atributo prevent del evento submit directamente desde la directiva -->
        <form action="" @submit.prevent="createTask">
            <!-- La directiva v-on:<event> nos permite usar eventos, como por ejemplo v-on:click o v-on:keyup -->
            <input type="text" v-model="newTask" v-on:keyup.enter="createTask">
            <button v-on:click="createTask">Crear tarea</button>
        </form>

        <br>

        <form action="">
            <input type="text" v-model="newBook">
            <!-- La directiva @ es un atajo para v-on:, por ejemplo v-on:click = @click -->
            <button @click="createBook(true, $event)">Crear libro leido</button>

            <!-- $event es una variable especial que le podemos pasar a los métodos para recibir el evento -->
            <button @click="createBook(false, $event)">Crear libro no leido</button>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                newTask: '',

                newBook: '',

                tasks: [
                    'Aprender VueJS',
                    'Aprender NodeJS',
                    'Aprender Laravel'
                ],

                books: [{
                    name: 'It',
                    readIt: true
                }, {
                    name: 'Blade Runner',
                    readIt: true
                }, {
                    name: 'Dune',
                    readIt: false
                }],

                info: {
                    name: 'Vicente',
                    age: 28
                }
            },

            methods: {
                createTask: function() {
                    this.tasks.push(this.newTask);
                    this.newTask = '';
                },

                createBook: function(readIt, event) {
                    event.preventDefault();

                    this.books.push({
                        name: this.newBook,
                        readIt: readIt
                    });
                    this.newBook = '';
                }
            }
        })
    </script>
</body>

</html>