<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 02</title>
</head>

<body>
    <div id="app">
        <!-- Los filtros van después del valor separados por un |, pueden aplciarse varios filtros para un mismo valor.
            El valor que toman es el que van arrojando los filtros anteriores  -->
        <!-- Los filtros también pueden recibir parámetros -->
        <h1>Hello {{ name | title('Mr.') | upper | ellipsis }}</h1>
        <h2>Salary {{ salary | money }}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- Librería para el manejo de números -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script>
        // Los filtros pueden declararse de forma global
        Vue.filter('ellipsis', function(value) {
            return value + '...';
        });

        Vue.filter('money', function(value) {
            return numeral(value).format('0,0');
        });

        new Vue({
            el: '#app',
            data: {
                name: 'Vicente',
                salary: 2000
            },
            // Filtros definidos de forma local
            filters: {
                upper: function(value) {
                    return value.toUpperCase();
                },

                title: function(value, title) {
                    return title + ' ' + value;
                }
            }
        });
    </script>
</body>

</html>